@model Testr.Models.Quiz
@{
    Layout = "Shared/_Skeleton.cshtml";   
}

<form action="/quiz/new/" method="post">
    <input id="Name" type="text" />
    <input id="Submit" type="submit" value="Create" />
</form>