<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="1.7.1.1" targetFramework="net40" />
  <package id="Nancy" version="0.11.0" targetFramework="net40" />
  <package id="Nancy.Testing" version="0.11.0" targetFramework="net40" />
  <package id="xunit" version="1.7.0.1540" targetFramework="net40" />
</packages>