@{
    Layout = "Shared/_Skeleton.cshtml";
}

@section Javascript {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/handlebars.js")"></script>
    <script type="text/javascript">
        var questionIndex = 0,
            quizId = @Model.Id;
        
        $(document).ready(function () {
            $("#next").on("click", function (event) {
                questionIndex = questionIndex + 1;
                $("#template-destination").fadeOut("slow", function (e) {
                    loadQuestion(quizId, questionIndex);                
                    $("#template-destination").fadeIn("slow");
                });

                event.stopImmediatePropagation();
                return false;
            });

            $("#previous").on("click", function (event) {
                questionIndex = questionIndex - 1;             
                $("#template-destination").fadeOut("slow", function (e) {
                    loadQuestion(quizId, questionIndex);
                    $("#template-destination").fadeIn("slow");
                });
                event.stopImmediatePropagation();
                return false;
            });

            loadQuestion(quizId, questionIndex);
        });

        function loadQuestion(quizId, questionIndex) {
            $.get("/quiz/" + quizId + "/take/" + questionIndex, function(q) {
                if (q.type == "Review") {
                    window.location.href = q.value;
                }
                else {
                    

                    var source = $("#template-source").html();
                    var template = Handlebars.compile(source);
                    var html = template(q.value);

                    
                    $("#template-destination").html(html);
                    
                    
                }
            });
        }
    </script>
}
<script id="template-source" type="text/x-handlebars-template">
    <div>{{Text}}</div>
    <ul>
        {{#each Answers}}
            <li><input type="radio" name="answer" value="" /><span>{{Text}}</span>
        {{/each}}
    </ul>
</script>    
<form action="" method="post">
    <div id="template-destination">
    </div>
    <button id="previous">Previous</button><button id="next">Next</button>
</form>