@model Testr.Models.Quiz
@{
    Layout = "Shared/_Skeleton.cshtml";
}

<h3>@Model.Name</h3>
@foreach (var q in @Model.Questions)
{
    @:<div>@q.Text</div>
    foreach (var a in q.Answers)
    {
        @:<div>@a.Text</div>
    }
}